a.nav{
    text-decoration: none;
}
a{
    font-size: 15px;
    color: rgb(250, 2, 2);
}
a.website{
    font-size: 25px;
    font-weight:bold;
}
@media (min-width: 768px){
    .navbar {
        border-radius: unset;
    }
}
.navbar{
    padding: 10px;
}
/* body{
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
} */